<section id="features">
  <div class="container px-5 py-32 mx-auto lg:px-24">
    <div class="flex flex-col w-full mb-20 text-left lg:text-center">
      <h2 class="mb-6 font-serif text-4xl font-bold tracking-tighter text-black md:text-8xl lg:text-6xl">
        Features that allows you
        <br class="hidden lg:block" />
        to reach your needs faster.
      </h2>
      <p class="mx-auto text-lg leading-snug text-slate-500">Tailwind CSS templates with a wicked design.</p>
    </div>
    <div class="flex flex-wrap -mx-4 -mt-4 -mb-10 space-y-6 sm:-m-4 md:space-y-0">
      <div class="flex p-4 lg:w-1/3">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mb-4 text-black rounded-full bg-slate-200">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <div class="flex-grow pl-6">
          <h3 class="font-serif text-2xl font-semibold text-black">Work Timer</h3>
          <p class="mt-6 text-lg text-slate-500">
            Do more meaningful work by dividing your time into intervals and by taking regular breaks to get more work or studying done. .
          </p>
        </div>
      </div>
      <div class="flex p-4 lg:w-1/3">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mb-4 text-black rounded-full bg-slate-200">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <circle cx="6" cy="6" r="3"></circle>
            <circle cx="6" cy="18" r="3"></circle>
            <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
          </svg>
        </div>
        <div class="flex-grow pl-6">
          <h3 class="font-serif text-2xl font-semibold text-black">Website Blocker</h3>
          <p class="mt-6 text-lg text-slate-500">
            Block Websites that distract and make you unproductive. Adding sites to the block list will block sites when the work timer is on.
          </p>
        </div>
      </div>
      <div class="flex p-4 lg:w-1/3">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mb-4 text-black rounded-full bg-slate-200">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div class="flex-grow pl-6">
          <h3 class="font-serif text-2xl font-semibold text-black">Gamification</h3>
          <p class="mt-6 text-lg text-slate-500">
            App introduces a point-based reward system to make work a bit more fun and also remind you every action has a price.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-32 overflow-hidden bg-patternBottom">
  <div class="container relative flex flex-col items-center px-5 py-16 mx-auto lg:px-24 lg:py-24 md:flex-row">
    <div class="mx-auto mb-10 md:mb-0">
      <img class="object-cover object-center mx-auto rounded md:mt-44 lg:-mt-44" alt="hero" src="./images/Mockup.png" />
    </div>
  </div>
</section>
