<section class="">
  <div class="container px-5 py-24 mx-auto lg:px-24">
    <div class="flex flex-col w-full mb-12 text-left lg:text-center">
      <h2 class="mb-6 font-serif text-4xl font-bold tracking-tighter text-black md:text-8xl lg:text-6xl">
        What people is
        <br class="hidden lg:block" />
        saying about us.
      </h2>
      <p class="mx-auto text-lg leading-snug text-slate-500 lg:w-1/2">Tailwind CSS templates with a wicked design.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="w-full p-4 md:w-1/3">
        <div class="p-6 border shadow-xl rounded-3xl">
          <a class="inline-flex items-center mb-2">
            <img alt="blog" src="https://randomuser.me/api/portraits/men/32.jpg" class="flex-shrink-0 object-cover object-center w-8 h-8 rounded-full" />
            <span class="flex flex-col flex-grow pl-4">
              <span class="text-xs uppercase text-slate-600">Terry Crews</span>
            </span>
          </a>
          <p class="text-sm leading-relaxed text-gray-500">"Wicked Templates is the next killer app. Wicked Templates was worth a fortune to my company."</p>
        </div>
        <div class="p-6 mt-4 border shadow-xl rounded-3xl">
          <a class="inline-flex items-center mb-2">
            <img alt="blog" src="https://uifaces.co/our-content/donated/bUkmHPKs.jpg" class="flex-shrink-0 object-cover object-center w-8 h-8 rounded-full" />
            <span class="flex flex-col flex-grow pl-4">
              <span class="text-xs uppercase text-slate-600">Will Farrel</span>
            </span>
          </a>
          <p class="text-sm leading-relaxed text-gray-500">
            "Thanks Wicked Templates! I couldn't have asked for more than this. Man, this thing is getting better and better as I learn more about it. Nice work
            on your Wicked Templates."
          </p>
        </div>
      </div>
      <div class="w-full p-4 md:w-1/3">
        <div class="p-6 border shadow-xl rounded-3xl">
          <a class="inline-flex items-center mb-2">
            <img
              alt="blog"
              src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=a72ca28288878f8404a795f39642a46f"
              class="flex-shrink-0 object-cover object-center w-8 h-8 rounded-full"
            />
            <span class="flex flex-col flex-grow pl-4">
              <span class="text-xs uppercase text-slate-600">Chris Tucker</span>
            </span>
          </a>
          <p class="text-sm leading-relaxed text-gray-500">"I love Wicked Templates. I could probably go into sales for you."</p>
        </div>
        <div class="p-6 mt-4 border shadow-xl rounded-3xl">
          <a class="inline-flex items-center mb-2">
            <img alt="blog" src="https://randomuser.me/api/portraits/women/2.jpg" class="flex-shrink-0 object-cover object-center w-8 h-8 rounded-full" />
            <span class="flex flex-col flex-grow pl-4">
              <span class="text-xs uppercase text-slate-600">Marie Curie</span>
            </span>
          </a>
          <p class="text-sm leading-relaxed text-gray-500">
            "Great job, I will definitely be ordering again! I couldn't have asked for more than this. Really good."
          </p>
        </div>
      </div>
      <div class="w-full p-4 md:w-1/3">
        <div class="p-6 border shadow-xl rounded-3xl">
          <a class="inline-flex items-center mb-2">
            <img alt="blog" src="https://randomuser.me/api/portraits/men/47.jpg" class="flex-shrink-0 object-cover object-center w-8 h-8 rounded-full" />
            <span class="flex flex-col flex-grow pl-4">
              <span class="text-xs uppercase text-slate-600">Kevin Hart</span>
            </span>
          </a>
          <p class="text-sm leading-relaxed text-gray-500">
            "I just can't get enough of Wicked Templates. I want to get a T-Shirt with Wicked Templates on it so I can show it off to everyone. Absolutely
            wonderful! Keep up the excellent work. Wicked Templates is worth much more than I paid."
          </p>
        </div>
        <div class="p-6 mt-4 border shadow-xl rounded-3xl">
          <a class="inline-flex items-center mb-2">
            <img
              alt="blog"
              src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjUzZTJmZDItODRjYS00ZGRhLTg2NWQtOGE0YjJhNWVlMjNjXkEyXkFqcGdeQXVyMTg4NDI0NDM@._V1_UY256_CR42,0,172,256_AL_.jpg"
              class="flex-shrink-0 object-cover object-center w-8 h-8 rounded-full"
            />
            <span class="flex flex-col flex-grow pl-4">
              <span class="text-xs uppercase text-slate-600">Sara Fitzpatrick</span>
            </span>
          </a>
          <p class="text-sm leading-relaxed text-gray-500">"Your company is truly upstanding and is behind its product 100%."</p>
        </div>
      </div>
    </div>
  </div>
</section>
