<section class="border-b">
  <div x-data="{ open: false }" class="flex flex-col w-full p-4 mx-auto sm:px-6 lg:max-w-7xl lg:px-16 lg:items-center lg:justify-between lg:flex-row md:px-6">
    <div class="flex flex-row items-center justify-between">
      <a href="./index.html" class="focus:outline-none focus:shadow-outline">
        <div class="t">
          <span
            class="text-sm font-light tracking-tighter text-black transition duration-500 ease-in-out transform hover:text-slate-500 text-opacity-80 tracking-relaxed"
          >
            <div class="inline-flex items-center">
              <svg
                class="w-12 h-12"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Layer_1"
                x="0px"
                y="0px"
                viewBox="0 0 229 229"
                style="enable-background: new 0 0 229 229"
                xml:space="preserve"
                fill="currentColor"
              >
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_0_FILL">
                      <path d="M-84.1,15.3h-8.3v74.3h8.3V15.3z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_1_FILL">
                      <path d="M-67.5,15.3h-8.4v74.3h8.4V15.3z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_2_FILL">
                      <path d="M-59.4,15.3v74.3h8.4V15.3H-59.4z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_3_FILL">
                      <path d="M-34.5,15.3h-8.3v74.3h8.3V15.3z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_4_FILL">
                      <path d="M-18,15.3h-8.4v74.3h8.4V15.3z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_5_FILL">
                      <path d="M63.4,89.7v-8.4h-74.3v8.4H63.4z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_6_FILL">
                      <path d="M63.4,73.2v-8.4h-74.3v8.4H63.4z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_7_FILL">
                      <path d="M63.4,56.7v-8.3h-74.3v8.3H63.4z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_8_FILL">
                      <path d="M63.4,40.2v-8.4h-74.3v8.4H63.4z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_9_FILL">
                      <path d="M63.4,23.6v-8.4h-74.3v8.4H63.4z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_10_FILL">
                      <path d="M63.4,89.7H55v74.3h8.4V89.7z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_11_FILL">
                      <path d="M46.9,89.7h-8.4v74.3h8.4V89.7z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_12_FILL">
                      <path d="M30.3,89.7H22v74.3h8.3V89.7z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_13_FILL">
                      <path d="M13.9,164.1V89.7H5.5v74.3H13.9z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_14_FILL">
                      <path d="M-2.7,89.7h-8.4v74.3h8.4V89.7z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_15_FILL">
                      <path d="M-18.1,164.2v-8.4h-74.3v8.4H-18.1z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_16_FILL">
                      <path d="M-18.1,147.6v-8.3h-74.3v8.3H-18.1z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_17_FILL">
                      <path d="M-18.1,131.1v-8.4h-74.3v8.4H-18.1z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_18_FILL">
                      <path d="M-92.4,106.2v8.4h74.3v-8.4H-92.4z" />
                    </g>
                  </g>
                </g>
                <g transform="matrix( 1, 0, 0, 1, 128,27) ">
                  <g>
                    <g id="Layer0_0_MEMBER_19_FILL">
                      <path d="M-92.4,89.7v8.3h74.3v-8.3H-92.4z" />
                    </g>
                  </g>
                </g>
              </svg>
              <span class="font-serif text-base">Monotone</span>
            </div>
          </span>
        </div>
      </a>
      <button class="lg:hidden focus:outline-none" @click="open = !open" aria-label="hidden">
        <svg fill="#000000" viewBox="0 0 20 20" class="w-6 h-6">
          <path
            x-show="!open"
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
          <path
            x-show="open"
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
            style="display: none"
          ></path>
        </svg>
      </button>
    </div>
    <nav :class="{'flex': open, 'hidden': !open}" class="flex-col items-end flex-grow hidden px-5 md:pb-0 lg:flex lg:justify-end lg:flex-row lg:space-x-4">
      <a
        class="p-2 text-black transition duration-1000 ease-in-out transform font-base text-opacity-90 hover:text-slate-500 focus:outline-none focus:shadow-none focus:text-mana md:my-0 hover:border-white"
        href="./index.html"
        >Home</a
      >

      <a
        class="p-2 text-black transition duration-1000 ease-in-out transform font-base text-opacity-90 hover:text-slate-500 focus:outline-none focus:shadow-none focus:text-mana md:my-0 hover:border-white"
        href="#pricing"
        >Pricing</a
      >
      <a
        class="p-2 text-black transition duration-1000 ease-in-out transform font-base text-opacity-90 hover:text-slate-500 focus:outline-none focus:shadow-none focus:text-mana md:my-0 hover:border-white"
        href="./blog.html"
        >Blog</a
      >
      <a
        class="p-2 text-black transition duration-1000 ease-in-out transform font-base text-opacity-90 hover:text-slate-500 focus:outline-none focus:shadow-none focus:text-mana md:my-0 hover:border-white"
        href="./blog-post.html"
        >Blog Post</a
      >
      <a
        href="https://wicked-templates.gumroad.com/l/monotone-starter"
        target="_blank"
        class="inline-flex items-center px-6 py-2 text-sm text-white transition-all duration-500 ease-in-out transform bg-black rounded-md hover:text-white md:mb-2 lg:mb-0 hover:border-white hover:bg-slate-500 focus:ring-2 ring-offset-current ring-offset-2"
      >
        Buy for $29
      </a>
    </nav>
  </div>
</section>
