<section class="relative w-full">
  <div class="relative items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="flex w-full p-6 lg:p-16 mx-auto text-left bg-cinder rounded-xl shadow-thick">
      <div class="relative">
        <div class="grid items-start justify-between grid-cols-1 space-y-8 lg:grid-cols-2 max-w-7xl lg:space-y-0">
          <div class="text-left">
            <h1 class="mb-4 font-serif text-xl text-black lg:text-2xl hover:text-blue-600">
              The best
              <span class="text-iris"> design inspiration </span>
              expertly curated for you.
            </h1>
            <div class="max-w-lg">
              <p class="mb-6 text-slate-500 lg:mb-0">
                Shadows is a blog on your browser and mobile app that instantly delivers relevant design stories and inspiration.
              </p>
            </div>
          </div>
          <div class="w-full max-w-md space-y-8 lg:mx-auto">
            <form class="mt-8 space-y-6 lg:mt-0" action="#" method="POST">
              <div>
                <label for="name" class="sr-only">Email</label>
                <input
                  type="email"
                  name="name"
                  id="name"
                  class="block w-full px-5 py-3 text-base transition duration-500 ease-in-out transform border border-transparent rounded-lg placeholder-slate-400 bg-slate-100 text-slate-600 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-slate-300"
                  placeholder="email@shadow.com"
                />
              </div>
              <div>
                <button
                  type="submit"
                  class="inline-flex items-center justify-center w-full px-8 py-3 text-base text-white transition-all duration-500 ease-in-out transform bg-black border-2 border-black rounded-lg hover:text-white md:mb-2 lg:mb-0 hover:bg-slate-500 focus:ring-2 ring-offset-current ring-offset-2 hover:border-slate-500"
                >
                  Update me!
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
