<section class="relative w-full" id="allpages">
  <div class="relative items-center w-full px-5 mx-auto pb-44 md:px-12 lg:px-20 max-w-7xl">
    <div class="space-y-24">
      <div>
        <div class="pb-5">
          <div class="pt-12 pb-6 border-b">
            <h3 class="text-2xl font-normal leading-6 text-black">Pages</h3>
          </div>
        </div>

        <div class="grid grid-cols-1 mt-6 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
          <a href="./blog.html" class="relative group">
            <div class="p-6 overflow-hidden border h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-monotone rounded-3xl">
              <img src="./images/thumbnails/blog.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>

          <a href="./blog-post.html" class="relative group">
            <div class="p-6 overflow-hidden border h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-monotone rounded-3xl">
              <img src="./images/thumbnails/blog-post.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./about.html" class="relative group">
            <div class="p-6 overflow-hidden border h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-monotone rounded-3xl">
              <img src="./images/thumbnails/about.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>

          <a href="./contact.html" class="relative group">
            <div class="h-auto overflow-hidden border rounded-2xl lg:aspect-h-2 sm:aspect-w-3 shadow-monotone">
              <img src="./images/thumbnails/contact.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./help-center-category.html" class="relative group">
            <div class="p-6 overflow-hidden border h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-monotone rounded-3xl">
              <img src="./images/thumbnails/category.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./help-article.html" class="relative group">
            <div class="h-auto overflow-hidden border rounded-2xl lg:aspect-h-2 sm:aspect-w-3 shadow-monotone">
              <img src="./images/thumbnails/article.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./help-center.html" class="relative group">
            <div class="h-auto overflow-hidden border rounded-2xl lg:aspect-h-2 sm:aspect-w-3 shadow-monotone">
              <img src="./images/thumbnails/center.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>

          <a href="./pricing.html" class="relative group">
            <div class="h-auto overflow-hidden border rounded-2xl lg:aspect-h-2 sm:aspect-w-3 shadow-monotone">
              <img src="./images/thumbnails/pricing.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div>
        <div class="pt-12 pb-6 border-b">
          <h3 class="text-2xl font-normal leading-6 text-black">System pages</h3>
        </div>
        <div class="grid grid-cols-1 mt-6 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
          <a href="./components.html" class="relative group">
            <div class="p-6 overflow-hidden border h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-monotone rounded-3xl">
              <img src="./images/thumbnails/components.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./style-guide.html" class="relative group">
            <div class="p-6 overflow-hidden border h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-monotone rounded-3xl">
              <img src="./images/thumbnails/styleguide.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./features.html" class="relative group">
            <div class="p-6 overflow-hidden border h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-monotone rounded-3xl">
              <img src="./images/thumbnails/features.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div>
        <div class="pt-12 pb-6 border-b">
          <h3 class="text-2xl font-normal leading-6 text-black">Forms</h3>
        </div>
        <div class="grid grid-cols-1 mt-6 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
          <a href="./sign-in.html" class="relative group">
            <div class="h-auto overflow-hidden border rounded-2xl lg:aspect-h-2 sm:aspect-w-3 shadow-monotone">
              <img src="./images/thumbnails/signin.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./sign-up.html" class="relative group">
            <div class="h-auto overflow-hidden border rounded-2xl lg:aspect-h-2 sm:aspect-w-3 shadow-monotone">
              <img src="./images/thumbnails/signup.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>

          <a href="./forgot.html" class="relative group">
            <div class="h-auto overflow-hidden border rounded-2xl lg:aspect-h-2 sm:aspect-w-3 shadow-monotone">
              <img src="./images/thumbnails/forgot.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./reset.html" class="relative group">
            <div class="h-auto overflow-hidden border rounded-2xl lg:aspect-h-2 sm:aspect-w-3 shadow-monotone">
              <img src="./images/thumbnails/reset.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./protected.html" class="relative group">
            <div class="h-auto overflow-hidden border rounded-2xl lg:aspect-h-2 sm:aspect-w-3 shadow-monotone">
              <img src="./images/thumbnails/protected.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./confirm.html" class="relative group">
            <div class="h-auto overflow-hidden border rounded-2xl lg:aspect-h-2 sm:aspect-w-3 shadow-monotone">
              <img src="./images/thumbnails/confirm.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./404.html" class="relative group">
            <div class="h-auto overflow-hidden border rounded-2xl lg:aspect-h-2 sm:aspect-w-3 shadow-monotone">
              <img src="./images/thumbnails/404.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div>
        <div class="pt-12 pb-6 border-b">
          <h3 class="text-2xl font-normal leading-6 text-black">Utility Pages</h3>
        </div>
        <div class="grid grid-cols-1 mt-6 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
          <a href="./faq.html" class="relative group">
            <div class="p-6 overflow-hidden border h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-monotone rounded-3xl">
              <img src="./images/thumbnails/faq.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./terms.html" class="relative group">
            <div class="p-6 overflow-hidden border h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-monotone rounded-3xl">
              <img src="./images/thumbnails/terms.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./license.html" class="relative group">
            <div class="p-6 overflow-hidden border h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-monotone rounded-3xl">
              <img src="./images/thumbnails/license.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./privacy.html" class="relative group">
            <div class="p-6 overflow-hidden border h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-monotone rounded-3xl">
              <img src="./images/thumbnails/privacy.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-black bg-white bg-opacity-75 rounded-md backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
